html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th,figcaption { font-size: 1em; font-weight: normal; font-style: normal; }
fieldset,iframe { border: none; }
iframe {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;	
}
caption,th { text-align: left; }
html { background-color:#DFDFDF; }
img { border: 0; }
body { font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; background-color: transparent; color: #333; -webkit-font-smoothing: antialiased; }
ul { list-style: none outside; }
ol { margin-bottom: 18px; list-style: decimal; margin-left: 2.2em; }
ul.square,
ul.circle,
ul.disc { margin-left: 2em; margin-bottom: 18px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style:disc outside; }
ul ul.square,
ul ul.circle,
ul ul.disc { margin-top: 4px; margin-bottom: 5px; }
a, a:HOVER{font-size:13px;color:#000;text-decoration: none;}
.hide {display:none;} .noborder {border:none !important;}

.m-main {
	background-color:rgb(242,242,242);
}
.m-search-tabs {
	height:40px;
	width:100%;
	background-color:#fff;
	border-bottom:1px solid rgb(180, 180, 180);
}
.m-search-tabs ul {
	position:absolute;
	top:13px;
	right:0;
}
.m-search-tabs .idbear{
	background: url("../img/search_1.png") 0 0 no-repeat;
	background-size:16px 15px;
}
.m-search-tabs .idbear_H{
	background: url("../img/search_18.png") 0 0 no-repeat;
	background-size:16px 15px;
}
.m-search-tabs .baidu{
	background: url("../img/search_3.png") 0 0 no-repeat;
	background-size:16px 15px;
}
.m-search-tabs .baidu_H{
	background: url("../img/search_4.png") 0 0 no-repeat;
	background-size:16px 15px;
}
.m-search-tabs .s360{
	background: url("../img/search_5.png") 0 0 no-repeat;
	background-size:16px 15px;
}
.m-search-tabs .s360_H{
	background: url("../img/search_6.png") 0 0 no-repeat;
	background-size:16px 15px;
}
.m-search-tabs li {
	float:left;
	width:16px;
	height:15px;
	margin-right:18px;
}
.m-search-tabs li a {
	display:block;
	width:16px;
	height:15px;
}
.m-result-txt {
	position:absolute;
	left:20px;
	top:13px;
	color:#f00;
	font-size: 10px;
}
.content .home {
	height:45px;
	background-color: rgb(217, 217, 217);
	border-bottom:1px solid rgb(180, 180, 180);
	padding:10px;
}
.user-face {
	width:45px;
	height:45px;
	float:left;
	margin-right:5px;
	position:relative;
	border-radius:5px;
}
.user-face img {
	width:45px;
	height:45px;
	border-radius:5px;
}
.user-face span {
	height:16px;
	display:block;
	position:absolute;
	bottom:0;
	left:0;
	background-color:rgb(0, 0, 0);
	opacity: 0.5;
	width:100%;
	border-radius:0 0 5px 5px;
	overflow:hidden;
}

.user-face p {
	height:16px;
	display:block;
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
	font-size:10px;
	color: #fff;
	line-height:16px;
	opacity: 1;
	width:100%;
	border-radius:0 0 5px 5px;
	overflow:hidden;
}
.user-url {
	width:78%;
	float:left;
	position:relative;
	background-color: #fff;
	border:2px solid rgb(137, 137, 137);
	border-radius:10px;
	padding:5px;
	height:35px;
	margin-top:-2px;
}
.url-img, .url-content {
	float:left;
}
.url-content a{
	font-size:13px;
}
.url-img img,
.sre-homelink-img img{
	width:35px;
	height:35px;
	margin-right:5px;
}
.url-opacity {
	background-color:#000;
	opacity: 0.25;
	width:35px;
	height:35px;
	position:absolute;
	left:5px;
	top:5px;
}
.url-fsearch-icon {
	background: url("../img/search_19.png") no-repeat;
	background-size:23px 23px;
	height:23px;
	width:23px;
	position:absolute;
	left:11px;
	top:11px;
}
.url-home-icon,
.sre-homelink-icon {
	background: url("../img/search_7.png") no-repeat;
	background-size:20px 16px;
	height:16px;
	width:20px;
	position:absolute;
	right:5px;
	bottom:5px;
}
.list li.pli {
	background-color: #fff;
	padding:7px;
	height:45px;
	border-bottom:1px solid rgb(180, 180, 180);
	position:relative;
}
.list-bgcolor {
	position:relative;
	background-color:rgb(242,242,242);
	padding:5px;
	overflow:hidden;
	height:35px;
}
.list .url-content,
.sre-content .url-content {
	width:80%;
}
.url-float-icon {
	background: url("../img/search_8.png") 20px 0 no-repeat;
	background-size:14px 14px;
	height:90%;
	width:36px;
	position:absolute;
	right:5px;
	top:5px;
}
.url-dir {
	background-color:#000;
	border-radius:3px;
	padding:0px 3px;
	position:absolute;
	right:5px;
	bottom:0px;
	color:#fff;
	font-size:9px;
}
.float-view {
	background-color:#000;
	opacity: 0.9;
	border-radius:5px;
	height:30px;
	width:105px;
	position:absolute;
	top:0px;
	right:33px;
}
.float-view li {
	float:left;
	width:51px;
	height:27px;
	border-right:1px solid #fff;
	position:relative;
}
.float-view .zan,
.float-view .add-link {
	background: url("../img/search_15.png") no-repeat;
	background-size:16px 16px;
	height:16px;
	width:16px;
	position:absolute;
	left:17px;
	top:7px;
}
.float-view .add-link {
	background: url("../img/search_13.png") no-repeat;
	background-size:16px 16px;
	top:7px;
}

.float-view .zan_H {
	background: url("../img/search_16.png") no-repeat;
	background-size:16px 16px;
	top:6px;
}

.float-view .add-link_H {
	background: url("../img/search_14.png") no-repeat;
	background-size:16px 16px;
	top:6px;
}

/* ############  keyword search css ############ */
.kw-content {
	padding:10px;
}
.kw-content li {
	overflow:hidden;
	border:1px solid rgb(180, 180, 180);
	margin-bottom:10px;
	background-color:#fff;
}
.kw-url-links {
	max-height:109px;
	padding:10px;
	overflow:hidden;
	position:relative;
	line-height:22px;
}
.kw-url-tools {
	margin-top:10px;
	height:16px;
}
.kw-url-preview-icon {
	background: url("../img/search_10.png") no-repeat;
	background-size:16px 16px;
	height:16px;
	width:16px;
	position:absolute;
	left:10px;
	bottom:10px;
}
.kw-url-preview-icon_H {
	background: url("../img/search_11.png") no-repeat;
	background-size:16px 16px;
}
.kw-url-fsearch-icon {
	background: url("../img/search_12.png") no-repeat;
	background-size:16px 16px;
	height:16px;
	width:16px;
	position:absolute;
	right:68px;
	bottom:10px;
}
.kw-url-addlink-icon {
	background: url("../img/search_13.png") no-repeat;
	background-size:16px 16px;
	height:16px;
	width:16px;
	position:absolute;
	right:39px;
	bottom:10px;
}
.kw-url-zan-icon {
	height:16px;
	width:16px;
	position:absolute;
	right:10px;
	bottom:10px;
}
.kw-url-zan-icon_1_0, 
.kw-url-zan-icon_0_0 {
	background: url("../img/search_15.png") no-repeat;
	background-size:16px 16px;
}
.kw-url-zan-icon_0_1 {
	background: url("../img/search_17.png") no-repeat;
	background-size:16px 16px;
}
.kw-url-zan-icon_1_1 {
	background: url("../img/search_16.png") no-repeat;
	background-size:16px 16px;
}


.kw-url-title {
	font-size:120%;
	color:rgb(0,83,251);
}
.kw-url-text {
	font-size:14px;
	color:rgb(0,0,0);
}
.kw-url-http {
	font-size:14px;
	color:rgb(6,136,0);
}
.kw-url-iframe {
	border-top:1px solid rgb(180, 180, 180);
	height:109px;
	max-height:109px;
	-webkit-overflow-scrolling:touch; 
	overflow: scroll;
	background-color:#fff;
}
.kw-browser-iframe {
	background-color:#fff;
	-webkit-overflow-scrolling:touch; 
	overflow: scroll;
	width:100%;
}

/* ############  reverse search css ############ */
.sre-main {
	font-size:13px;
}
.sre-content .home {
	background-color:#fff;
	height:85px;
	padding:0;
}
.sre-list li{
	height:70px;
	border-bottom:1px solid rgb(180, 180, 180);
	padding:6px 0;
}
.sre-content .user-url{
	margin:0 auto;
	position: absolute;
	left:5px;
	top:10px;
}
.sre-homeurl {
	position:relative;
}
.sre-faceimg, 
.sre-homeurl {
	float:left;
}
.sre-faceimg {
	width:40px;
	height:100%;
	padding:0 9px;
}
.sre-faceimg img,
.sre-faceimg-div {
	width:40px;
	height:40px;
	border-radius:50%;
}
.sre-home-title {
	font-size:13px;
	padding:3px 0;
	color:rgb(20, 119, 164);
}
.sre-home-title_2 {
	color:rgb(255, 0, 0);
}
.sre-home-fsearch {
	background: url("../img/search_22.png") no-repeat;
	background-size:16px 16px;
	padding:0 8px;
	margin-left:11px;
}
.sre-home-fsearch_2 {
	background: url("../img/search_20.png") no-repeat;
	background-size:16px 16px;
}
.sre-homelink-img,
.sre-homelink-txt {
	float:left;
}
.sre-home-url {
	position:relative;
	padding:5px;
	background-color:rgb(242, 242, 242);
	overflow: hidden;
}
.sre-homelink-icon_2 {
	background: url("../img/search_21.png") no-repeat;
	background-size:20px 16px;
}
.sre-home-left,
.sre-home-center,
.sre-home-right {
	float:left;
}
.sre-home-left {
	width:5px;
	height:75px;
	background:url("../img/bg_left.png") 0 -137.5px no-repeat;
	background-size:5px 212.5px;
}
.sre-home-right {
	width:5px;
	height:75px;
	background:url("../img/bg_center.png") 0 -137.5px no-repeat;
	background-size:5px 212.5px;
}
.sre-home-center {
	position:relative;
	height:75px;
	background:url("../img/bg_right.png") 0 -137.5px repeat-x;
	background-size:5px 212.5px;
}
.fsearch-center {
	position:relative;
}
.fsearch-center .fsearch-center-float {
	left:3px;
	top:12px;
	position: absolute;
	width:100%;
}
